@import 'mixins';

@import 'colors';

// --- background utility classes --- //
.bg-nero {
	background: $nero;
}
.bg-bianco {
	background: $bianco;
}

// --- forms ---//
form label {
	color: $nero;
	font-weight: 700;
}
	form .form-control {
		@include border-radius(0);
		border: 0 !important;
		border-bottom: 1px solid $grigio-b !important;
	}
	form .alert {
		@include border-radius(0);
		margin-top: 3px;
		font-size: 90%;
	}

// --- structure ---//
html,
body {
	background: $bianco;
}
	body {
		font-family: 'Roboto', sans-serif;
		font-size: 81.25%; // 13px, 0.8125em
		font-weight: 300;
		margin-bottom: 35px;
	}
.footer {
  width: 100%;
  height: 35px;
  background: $bianco;
  position: absolute;
  bottom: 0;
}	

// --- typo ---//
h1 {
	font-size: 130%;
	text-transform: uppercase;
	color: $viola;
}
a.lin,
a.lin:active,
a.lin:link,
a.lin:visited {
	color: $viola;
}
a.lin:hover,
a.lin:focus {
	color: $blu;
	text-decoration: none;
}
	
// --- login & register ---//
.login {
	height: 100vh;
}
.login img.logo-sx {
	padding: calc(50vh - 40px) 0 calc(50vh - 40px) 0;
}
.login form,
.login .errors {
	margin-top: 30vh;
}

// --- admin navbar ---//
.dropdown-item {
	font-size: 81.25%; // 13px, 0.8125em
}

// --- admin material icons ---//
thead .material-icons,
.pagination .material-icons,
a .material-icons,
button .material-icons { 
	font-size: 81.25% !important; // 13px, 0.8125em
}
	thead .material-icons {
		padding-left: 5px;
	}

// --- admin pagination ---//
.page-item.active .page-link {
	background: $nero;
	border-color: $nero;
}
	.page-link {
		color: $nero;
	}
	.page-link:hover,
	.page-link:focus {
		color: $nero;
	}

// --- admin ux ---//
.button-separator {
	@include separator(10px, 10px); 
}
.col-divid-3 {
  column-count: 3;
  column-gap: 30px;
  margin-bottom: 30px;
}		